---
interface Props {
    title: string;
    link: string;
    additionalClass?: string;
    bg?: string;
}

// <div class="">
//   </div>

const {
    title,
    link,
    additionalClass = false,
    bg = "var(--color-brand-secundary)",
} = Astro.props;
---

<!-- btn-dinamico -->
<a
    style=`background-color:${bg} ;`
    class={`buttomPrimary w-fit flex h-fit  ${!additionalClass ? "px-2 py-2 " : additionalClass}`}
    class:list={{}}
    href={link}
>
    {title}
</a>

<style>
    .buttomPrimary {
        display: flex;
        border-radius: 4px;

        color: rgb(255, 255, 255);
        --color-gradient: #f34503;

        /* background-color: var(--color-brand-secundary); */
        /* background-image: linear-gradient(
            to right,
            var(--color-brand-secundary),
            var(--color-gradient)
        ); */
    }
</style>
