---
import bgHeroImg from "../assets/img/pexels-canvastudio-3194518.jpg";
---

<section
    class="w-full min-h-140 flex md:items-center relative text-gray-600 body-font"
>
    <!-- Fondo con imagen y overlay -->
    <div class="absolute inset-0">
        <img
            src={bgHeroImg.src}
            alt="Fondo hero"
            class="w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-black opacity-70"></div>
    </div>

    <!-- Contenido parincipal -->
    <div
        class="flex lg:max-w-7xl mx-auto px-4 md:px-14 py-14 md:flex-row flex-col items-center relative z-10"
    >
        <div
            class="md:w-3/5 md:pr-16 flex flex-col md:justify-center md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
            <h1
                class="title-font sm:text-4xl md:text-6xl lg:text-5xl text-4xl mb-4 font-semibold text-gray-100"
            >
                Construyo el sitio web <br /> de tu negocio
            </h1>
            <p class="mb-8 leading-relaxed text-gray-200 md:text-[1.1em]">
                Sitios web con diseño profesional, optimizados para buscadores y
                enfocados en convertir visitantes en clientes. Rápidos, seguros
                y modernos, pensados para posicionar tu negocio en Google y
                aumentar tus ventas.
            </p>
            <div class="flex justify-center">
                <a
                    class="inline-flex text-white bg-(--color-brand) border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                    >Button</a
                >
                <a
                    class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
                    >Button</a
                >
            </div>
        </div>
        <div class="md:w-2/5 w-5/6">
            <img
                class="object-cover object-center rounded opacity-1"
                alt="hero"
                src="https://dummyimage.com/720x600"
            />
        </div>
    </div>
</section>
