---
import { Icon } from "astro-icon/components";
import ButtonPrimary from "../components/ButtonPrimary.astro";

const services = [
  {
    icon: "timer",
    title: "Horas de introducción",
    description: `Prepárate con programas diseñados para líderes y equipos que buscan excelencia en seguridad`,
    duration: "3 horas",
  },
  {
    icon: "timer-2",
    title: "UX & Product Design",
    description: ` Excepteur sint occaecat cupidatat, Ut enim ad minim veniam,
                    ipsum dolor sit amet`,
    duration: "3 horas",
  },
  {
    icon: "gears",
    title: "UX & Product Design",
    description: ` Excepteur sint occaecat cupidatat, Ut enim ad minim veniam,
                    ipsum dolor sit amet`,
    duration: "3 horas",
  },
  {
    icon: "date",
    title: "UX & Product Design",
    description: ` Excepteur sint occaecat cupidatat, Ut enim ad minim veniam,
                    ipsum dolor sit amet`,
    duration: "3 horas",
  },
  {
    icon: "",
    title: "UX & Product Design",
    description: ` Excepteur sint occaecat cupidatat, Ut enim ad minim veniam,
                    ipsum dolor sit amet`,
    duration: "3 horas",
  },
  {
    icon: "",
    title: "UX & Product Design",
    description: ` Excepteur sint occaecat cupidatat, Ut enim ad minim veniam,
                    ipsum dolor sit amet`,
    duration: "3 horas",
  },
];
---

<section
  class="w-full h-fit flex md:items-center relative text-gray-600 body-font md:py-20"
>
  <div
    class=`flex flex-col md:flex-row md:gap-20 lg:max-w-7xl mx-auto py-10 px-6 md:px-14 items-center relative z-10 `
  >
    <!-- col-1 -->
    <div
      class="self-start md:sticky top-30 flex flex-col md:w-2/5 md:justify-start md:items-start md:text-left mb-16 md:mb-0 items-start text-start"
    >
      <span
        class="btn-item-service text-[1em]
         px-3 py-1 text-(--color-brand-secundary)
         rounded-2xl
         border-[0.1rem]
         font-normal"
        >Excepteur sint
      </span>
      <h2
        class="title-font sm:text-4xl lg:text-4xl xl:text-5xl md:text-4xl text-3xl mb-4 pt-5 font-medium text-(--color-secundary)"
      >
        <span class="text-(--color-brand-secundary)">Excepteur </span> sint <br /> occaecat
        cupidatat
      </h2>

      <!-- bg-(--color-brand-secundary) -->
      <p
        class="md:max-w-[55ch] mb-8 leading-relaxed font-normal text-[1.1em] text-gray-700"
      >
        Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
        sociosqu ad litora torquent.
      </p>
      <ul class="flex flex-col gap-4 text-[1.1em]"></ul>

      <div class="flex justify-center">
        <ButtonPrimary
          title="Contacto"
          link="#"
          bg="var(--color-brand-secundary)"
          additionalClass="px-2.5 py-1.5"
        />
      </div>
    </div>
    <!-- col-2-->
    <div class="md:w-3/5 grid md:grid-cols-2 grid-cols-1 gap-4">
      {
        services.map((service) => {
          return (
            <section class="flex flex-col gap-2 bg-[#D5D9DA30] p-8 rounded-2xl">
              <span class="text-4xl w-13 lg:w-10 xl:w-14 ">
                <Icon
                  name={service.icon === "" ? "star" : `${service.icon}`}
                  size={50}
                  class="text-(--color-brand-secundary) w-full h-auto"
                />
              </span>
              <h2 class="text-2xl font-medium lg:text-lg xl:text-2xl ">
                {service.title}
              </h2>
              <p class="text-base lg:text-sm">{service.description}</p>
              <span class="text-(--color-brand-secundary) lg:text-sm font-semibold">
                {service.duration}
              </span>
            </section>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  .btn-item-service {
  n    /* --color-btn-border-service: color-mix(
      in oklab,
      var(--color-brand-secundary),
      white 60% */
    border: 1px solid color-mix(in oklab, var(--color-brand) 40%, transparent);
  }
</style>
