---
import Header from "../components/Header.astro";
interface Props {
	title: string;
	description?: string;
	// canonical?: string;
	// robots?: string;
}

const {
	title = "Raep",
	description = "Descrición de la web",
	// canonical,
	// robots,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/css/style.css" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-brand: #0a61bc; /* color principal de la marca */
		--color-brand-secundary: #db6608; /* color principal de la marca */
		--color-text-primary: #273951; /* texto principal */
		--color-secundary: #333;

		--color-highlight: #f59e0b; /* para resaltar botones o links */
		--color-bg: #ffffff; /* fondo */
		--color-surface: #f3f4f6; /* tarjetas, secciones */
		--color-secundary: #363636; /* texto secundario */
		--color-error: #dc2626; /* mensajes de error */
		--color-success: #16a34a; /* mensajes de éxito */
	}
	html,
	body {
		margin: 0;
		width: 100%;
		/* min-height: 200vh; */
		font-family: "Segoe UI";
	}
</style>
